body {
    font-family: 'Happy Monkey', cursive;
    text-align: center; 
    background-color: #a2d2ff;
    color: #ffffff;
}

#main-avatar {
    border-radius: 50%;
    width: 150px;
    border: 6px solid #EFB0c9;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}

#bday-age{
    background-color: #EFB0c9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date{
    margin: 0;
    background-color: #EFB0c9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}